a {
	text-decoration: none;
	position: relative;
	color: rgb(170, 14, 14);
}

a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: rgb(170, 14, 14);;
	transform-origin: bottom left;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

a:hover::before {
	transform-origin: bottom left;
	transform: scaleX(1);
}
